body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(150deg, #000, #6b6b6b, #000);
    overflow: hidden;
    position: relative;
    animation: Wave 10s ease-in-out infinite;
    background-size: 200% 200%;
}

@keyframes Wave {
    0%, 100% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
}

h1 {
    text-align: center;
    color: #fff;
    font-size: 2.5em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
}

.slider {
    position: relative;
    max-width: 800px;
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    z-index: 1;
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 18px;
    padding: 16px;
    cursor: pointer;
    padding: 25px;
    border-radius: 25%;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 2;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.1);
}

button:active {
    border: 1px solid #fffab0;
    background-color: #717171;
    transform: scale(0.95);
}

.dots {
    text-align: center;
    margin-top: 20px;
}

.dot {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 5px;
    background-color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.dot.active {
    border: 1px solid #fffab0;
    background-color: #000;
    transform: scale(1.2);
}
